msys-2.0.dll
msys-gcc_s-seh-1.dll
msys-stdc++-6.dll
main.exe

main.o
main.exe
helper/WinAPI/terminal.o
helper/WinAPI/timer.o
helper/json_helper.o
core/*.o
tests/*.o
timer_test.exe
input_recorder_test.exe
romaji_converter_test.exe
.vscode/c_cpp_properties.json
tmp/
helper/json_helper.o
helper/WinAPI/terminal.o
output/*.*
helper/WinAPI/windowmaker/windowmaker.o
